# Telegram Bot Token
BOT_TOKEN=your_bot_token_here

# Admin IDs (через запятую, например: 123456789,987654321)
ADMIN_IDS=5034579176,1033966378,5646891868,815109033,1267841885

# Timezone (например: Europe/Kyiv, UTC)
TIMEZONE=Europe/Kyiv

# Время уведомлений до начала мероприятия (в часах, через запятую)
NOTIFICATION_HOURS=24,1

